<form action="/artist-search" method="GET">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"></label>
    <input name="mySearch" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  <button type="submit" class="btn btn-primary">Search for an Artist</button>
  </div>
</form>